---
import Counter from "../components/Counter";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>@hasanhaja</title>
	</head>
	<body>
		<h1>@hasanhaja</h1>
		<Counter client:visible />
	</body>
</html>
